<div class="form-container">
    <h1>{{title}}</h1>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <form class="form-container" [formGroup]="settingsForm">
        <div class="form-item">
            <mat-form-field appearance="fill">
                <mat-label>Domain</mat-label>
                <input matInput formControlName="domain">
                <mat-icon matSuffix>domain</mat-icon>
                <mat-error *ngIf="isInvalidInput('domain')">
                    Please enter a a valid domain
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-item">
            <mat-form-field appearance="fill">
                <mat-label>Depth*</mat-label>
                <input matInput formControlName="depth">
                <mat-icon matSuffix>arrow_downward</mat-icon>
                <mat-error *ngIf="isInvalidInput('depth')">
                    Please enter a a valid depth
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-item">
            <mat-form-field appearance="fill">
                <mat-label>Load Time (seconds)*</mat-label>
                <input matInput formControlName="loadTime">
                <mat-icon matSuffix>timelapse</mat-icon>
                <mat-error *ngIf="isInvalidInput('loadTime')">
                    Please enter a a valid load time in seconds
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-item">
            <mat-form-field appearance="fill">
                <mat-label>URL Suffix</mat-label>
                <input matInput formControlName="urlSuffix" placeholder="(Optional) E.g. abc=123&def=456">
                <mat-icon matSuffix>notes</mat-icon>
                <mat-error *ngIf="isInvalidInput('urlSuffix')">
                    Please enter a a valid url suffix
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-item">
            Enable Manual Mode
            <mat-slide-toggle color="accent" formControlName="manualSet">
            </mat-slide-toggle>
        </div>
        <div class="form-item">
            <label>Enable Global Site Tag Verification</label>
            <mat-slide-toggle color="accent" formControlName="verificationEnabled"
                (change)="onGlobalSiteTagChanged($event)">
            </mat-slide-toggle>
        </div>
        <div class="form-item">
            <label>Pages With No Conversion Tags</label>
            <mat-slide-toggle color="accent" formControlName="showNoFloodlight">
            </mat-slide-toggle>
        </div>
        <div class="form-item file-uploader-container">
            <label for="file-upload" class="custom-file-upload">
                <mat-icon matSuffix>cloud_upload</mat-icon><span> File Upload</span>
            </label>
            <input id="file-upload" formControlName="urlFile" type="file" (click)="resetFile()"
                placeholder="(Optional) Upload a file of specifed URLs to scrape"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                (change)="readFileContent($event)">
            <span class="fileName">{{fileName}} </span>
            <button *ngIf="fileName != ''" mat-mini-fab color="warn" (click)="removeFile()">
                <mat-icon>remove</mat-icon>
            </button>
            <div>
                <mat-hint>(Optional) Upload a file of specifed URLs to scrape</mat-hint>
            </div>
        </div>
        <mat-card class="card">
            <mat-card-title>Disclaimer</mat-card-title>
            <p>
                You may notice a drop in site performance during the audit, this is due to the volume of
                network requests being processed by the tool for each page.
            </p>
        </mat-card>
        <div class="form-buttons-container">
            <button *ngIf="showRunButton" mat-raised-button color="primary" [disabled]="!settingsForm.valid"
                (click)="run()">
                <mat-icon>play_circle_filled</mat-icon> Run
            </button>
            <button *ngIf="!showRunButton" mat-raised-button color="primary" (click)="stopClick()">
                <mat-icon>stop</mat-icon> Stop
            </button>
            <button mat-raised-button color="primary" (click)="downloadClick()">
                <mat-icon>cloud_download</mat-icon> Download
            </button>
        </div>
    </form>
</div>